<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="author" content="Robert Ignasiak"/>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/jquery.mousewheel-min.js"></script>
    <script src="/js/jquery.terminal-min.js"></script>
    <link href="/css/jquery.terminal.css" rel="stylesheet"/>
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    <script>
    jQuery(document).ready(function($) {
        $('#term').terminal(function(command, term) {
            $.post("ask",
            {
                query:command
            },
            function(data,status){
                if (data.charAt(0) == '#') {
                  eval(data.slice(1,data.length-1);)
                }else{
                  term.echo(data);
                };
            });
        }, {
        login: function(user, password, callback) {
           
           var term = $('#term').terminal();
           var passhash = md5(password);
           $.post("login",
             {
                 user:user,
                 password:passhash
             },
            function(data,status){
                eval(data)
            });
        },
        greetings: '',
        name: 'login',
        height: 800,
        width: 760,
        onBlur: function() {
          return false;
        },
        prompt: ''});
    });
    </script>
  </head>
<body>
<div id="term"></div>
</body>
